<OBJECT ID="MMPlayer1" WIDTH=640 HEIGHT=480
classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" 
CODEBASE="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5, 1,52,701" standby="Loading Microsoft Windows Media Player components..."
type="application/x-oleobject">  
<PARAM NAME="ShowControls" VALUE="1"> 
<PARAM NAME="ShowStatusBar" VALUE="1"> 
<PARAM NAME="ShowDisplay" VALUE="0"> 
<PARAM NAME="DefaultFrame" VALUE="Slide"> 
<PARAM NAME="Autostart" VALUE="0"> 
<Embed type="application/x-mplayer2" 
pluginspage="http://www.microsoft.com/Windows/MediaPlayer/download/default.asp"
src="http://127.0.0.1:2222"
Name=MMPlayer1 Autostart=1 ShowControls=1 ShowDisplay=0 ShowStatusBar=1 DefaultFrame="Slide"
width=640 height=480> 
</embed>
</OBJECT>